
/**
 * @author Pspe UWMY
 * @copyright 2009
 * @file style.css
**/
body{
	background: url(media/back.png) top center repeat-x; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	margin:5px 0 0 0;
}
img{
	border:none;
}
a img{
	border:none;
}
a{
	outline:none;
	color: #000000;
	text-decoration: none;
}
a:hover{
	outline:none;
	text-decoration: none;
	color: #FFFFFF;
	text-decoration: underline;
}
ul,ol{
	margin: 0px;
	padding-left: 20px;
}
legend{
	font-size: 12px;
	margin-bottom: 4px;
	color: #000000;
	background: none;/*#3C591E;*/
	padding: 4px 7px 4px 7px;
	border: 1px dashed #000000;
}
fieldset{
	background: none /*#000099 url(media/back.png) top center repeat-x; */ /*form*/
}
input:focus,select:focus,textarea:focus{
	background-color: #CCFFFF;
	color: #000000;
}
.table {
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
}
.table td {
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
}
.hide,.hide:hover{
	outline:none;
	text-decoration: none;
	color: #000000;
	cursor: text;
}
.error{
	font-weight: bold;
	color: #FF0000;
	padding: 3px;
	/*width: 100%;*/
	margin-left: 10px;
	text-decoration: blink;
}
.msg_0{
	font-weight: bold;
	color: #FF0000;
	background-color: none; /* #FFFFCC;
	/*width: 100%;*/
	border: 1px dashed #FF0000;
	text-decoration: blink;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
}
.msg_1{
	font-weight: bold;
	color: #00CC00;
	background-color: none;/*#FFFFCC;*/
	width: 100%;
	padding:3px;
	border: 1px dashed #FF0000;
	text-decoration: blink;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
}
form{
	margin: 0;
	padding: 0;
}
/*Banner*/
.flash{
	position:relative;
	margin:auto;
	height:auto;
	width:auto;
	background-image: url(media/Splash_cnver.swf) repeat-x;
	display: block;
}
/*Menu */
.logo{
	position: relative;
	padding: 0 0 0 0px;
	margin: 0 auto 0 auto;
	height: 46px;
	list-style: none;
}
.glossymenu{
	position: relative;
	padding: 0 0 0 40px;
	margin: 20 auto 0 auto;
	background: url(media/menub_bg.gif) repeat-x; /*tab background image path*/
	height: 46px;
	list-style: none;
}
.glossymenu li{
	float:left;
}
.glossymenu li a{
	float: left;
	display: block;
	color:#000;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 13px;
	/*font-weight: bold;*/
	padding:0 0 0 16px; /*Padding to accomodate left tab image. Do not change*/
	height: 46px;
	line-height: 46px;
	text-align: center;
	cursor: pointer;	
}
.glossymenu li a b{
	float: left;
	display: block;
	padding: 0 24px 0 8px; /*Padding of menu items*/
}
.glossymenu li.current a, .glossymenu li a:hover{
	color: #fff;
	background: url(media/menub_hover_left.gif) no-repeat; /*left tab image path*/
	background-position: left;
}
.glossymenu li.current a b, .glossymenu li a:hover b{
	color: #fff;
	background: url(media/menub_hover_right.gif) no-repeat right top; /*right tab image path*/
}
.glossymenu_login{
	background-color: #045d98; 
	padding: 5px 5px 5px 20px;
	color: #FFFFFF;
}
.submenu{
	background: url(media/header.png) top center repeat-x; 
	padding: 5px 5px 5px 20px;
	color: #FFFFFF;
}
.submenu span{
	margin-right:15px;
}
.submenu span a{
	color: #000000;
	padding: 3px;
}
.submenu span a:hover{
	background-color: #FFFFFF;
	color: #FF0000;
	text-decoration: none;
	padding: 3px;
}

.search{
	margin-bottom: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FF0000;
	border-bottom-color: #FF0000;
}

.content{
	margin: 10px;
}
.hr{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FF0000;
	padding-top: 12px;
}
.form3_4{
	text-align: center;
	vertical-align: middle;
	margin-left:15px; 
	margin-right:15px;
}
.colL{
	float: left;
	width: 280px;
	background: none /*url(media/back.png) top center repeat-x;*/ /*intro*/ 
	height: 500px;
	overflow: inherit;
	margin-right: 5px;
	padding:0px 10px;
}
.colR{
	background: none /*url(media/back.png) top center repeat-x; */ /*ringkasan*/
	height: 500px;
	overflow: auto;
}

/*Paging*/
.paging{
	height: 16px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 3px;
	width: 800px;
	text-align:center;
}
.paging .l{
	float: left;
	width: 100px;
	text-align: left;
}
.paging .c{
	float: left;
	width: 600px;
	text-align: center;
}
.paging .r{
	float: right;
	width: 100px;
	text-align: right;
}
.paging a:hover{

	color: #FF0000;
	text-decoration: none;	
}

/*View detail*/
.full {
	position: absolute;
	width:100%;
	/*height:200%;*/
	left: 0px;
	top: 20px;
	right: 0px;
	margin-bottom: 20px;
	background-color: #FEFEFE;
	/*visibility: hidden;*/
}
.full fieldset{
	width:95%;
	margin:auto;
}
.full table{
	padding: 5px;
	border: 2px solid #CCCCCC;
	margin-top: 10px;
	margin-bottom: 5px;
}
.full table td{
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-style: none;
}
.full table td span{
	font-size: 14px;
	font-weight: bold;
	color: #666666;
}
.full a{
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	background-color: #CCFFFF;
	border: 1px solid #045d98;
	padding: 3px 5px;
}
.full a:hover{
	color: #333333;
	background-color: #FFFF99;
}

.tableRollOver{
	background-color: #FFFF99;
	color:#000000;
}
.tableRowClick{
	background-color: #99FF00;
	color:#000000;
}
.button{
	background-color: #FFFF99;
	margin-left: 5px;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	border: 1px solid #FFCC00;
	outline: none;	
}
.button:hover{
	background-color: #99CC99;
	border: 1px solid #FF0000;
	color: #000000;
	text-decoration: none;
}